{% extends 'base.html.twig' %}

{% block body %}
<div class="">
    <div class="sidemenu" style="width:375px; border:1px solid black; float:left; height:auto;">
        <div class="logobox" style="width:100%; border:1px solid red; height: 200px;">
            logo
        </div>
        <div class="menuItems">
            <div class="menuItemGroup">
                <ul>
                    <li>item 1</li>
                    <li>item 2</li>
                    <li>item 3</li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}